.cartItemsUL
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productCard
{
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
}

.greenTick
{
    height: 100px;
}

.placeOrderBUTTON
{
    background-color: orange;
    border-width: 0px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}