.allProductsUL
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productCardLI
{
    border: 1px solid black;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}

.buyNowBUTTON
{
    background-color: orange;
    padding: 15px;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.addToCartBUTTON
{
    background-color: greenyellow;
    padding: 15px;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
}